@font-face {
  font-family: AtypDisplayBold;
  src: url("../assets/fonts/AtypDisplayBold.ttf");
}
@font-face {
  font-family: AtypDisplayBoldItalic;
  src: url("../assets/fonts/AtypDisplayBoldItalic.ttf");
}
@font-face {
  font-family: AtypDisplayItalic;
  src: url("../assets/fonts/AtypDisplayItalic.ttf");
}
@font-face {
  font-family: AtypDisplayLight;
  src: url("../assets/fonts/AtypDisplayLight.ttf");
}
@font-face {
  font-family: AtypDisplayLightItalic;
  src: url("../assets/fonts/AtypDisplayLightItalic.ttf");
}
@font-face {
  font-family: AtypDisplayMedium;
  src: url("../assets/fonts/AtypDisplayMedium.ttf");
}
@font-face {
  font-family: AtypDisplayMediumItalic;
  src: url("../assets/fonts/AtypDisplayMediumItalic.ttf");
}
@font-face {
  font-family: AtypDisplayRegular;
  src: url("../assets/fonts/AtypDisplayRegular.ttf");
}
@font-face {
  font-family: AtypDisplaySemibold;
  src: url("../assets/fonts/AtypDisplaySemibold.ttf");
}
@font-face {
  font-family: AtypDisplaySemiboldItalic;
  src: url("../assets/fonts/AtypDisplaySemiboldItalic.ttf");
}
@font-face {
  font-family: AtypDisplayThin;
  src: url("../assets/fonts/AtypDisplayThin.ttf");
}
@font-face {
  font-family: AtypDisplayThinItalic;
  src: url("../assets/fonts/AtypDisplayThinItalic.ttf");
}
