@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "scss/fonts.scss";
@import "scss/pagination.scss";

@layer base {
  /* Hiding the Scrollbar for now */
  * {
    @apply scrollbar-hide;
  }
  body {
    font-size: 16px;
    @apply text-gray-300 bg-[#000000] font-AtypDisplayMedium;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-100;
  }
  // h1 {
  //   @apply text-3xl sm:text-4xl md:text-5xl font-bold;
  // }
  // h2 {
  //   @apply text-2xl sm:text-3xl;
  // }
  // h3 {
  //   @apply text-2xl;
  // }
}

// Components
@layer components {
  .custom-movie-title {
    @apply text-4xl sm:text-5xl lg:text-5xl font-AtypDisplayBold uppercase;
  }
  .custom-green-btn {
    @apply px-8 py-3 rounded-md bg-green-500 font-AtypDisplayBold text-gray-900 hover:bg-green-400 transition-all;
  }
  .custom-section-title {
    @apply text-3xl uppercase font-AtypDisplayBold;
  }
  .custom-minor-title {
    @apply text-xl uppercase font-AtypDisplayBold;
  }

  // Related to the hovering effect...
  .custom-card-hover {
    @apply hover:scale-105 md:hover:scale-110 transition-all;
  }
}
